.bp{
    background-color: aqua;
}
.col{
    border: 1px solid
    
}
.col{
    height: 50px;
}
#tb{
    background-color: aqua;
    height: 150px;
}
#ck{
    background-color: rgb(211, 42, 42)
    
}
}